extends base.pug

block content
    h4 Update Video
    form(method="POST")
        input(name="title", type="text", placeholder="Title", value=video.title, required, maxlength=80).loginform__input
        input(name="description", type="text", placeholder="Description", value=video.description, required, minlength=20).loginform__input 
        input(name="hashtags", type="text", placeholder="Hashtags, comma", value=video.hashtags.join(), required).loginform__input
        input(type="submit", value="Save").loginform__submit